@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.navbar {
  background: #73f74c;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.navbar ul li {
  padding: 1rem 0;
}
.logo {
  padding: 1rem;
}
.menu {
  display: flex;
}
.button {
  padding: 1rem 0;
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  margin: 20px;
  transition: all 0.25s ease;
  position: relative;
}
.btn:hover::after {
  width: 100%;
}
.btn::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  width: 0;
  height: 5px;
  background: #2db305;
  left: 0;
  bottom: 0;
  z-index: 1;
  transition: all 0.25s ease;
}
.body {
    display: block;
    align-items: center;
}
.body h1 {
    text-align: center;
    height: 50%;
}
.body2 {
    display: grid;
  grid-template-columns: auto auto;
}

.item22 { 
    grid-area: menu;
}
.item22 img {
    overflow: auto;
    height: 100%;
}
.item32 { 
    grid-area: main; 
}
.item32 div {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-container2 {
    display: grid;
    grid-template-areas:
      'main main main main menu menu'
      'main main main main menu menu';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  


footer {
  background: #73f74c;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  text-align: center;
  color: #000;
}
